<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post a Service/Request</title>
  <link rel="stylesheet" href="/public/styles/main.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="container">
      <h1>Edit Service/Request</h1>
      <form action="/editService/<%=skill.skill_id%>" method="post" class="form">
        <div class="form-group">
            <!-- title -->
          <label for="title">Title:</label>
          <input type="text" id="title" name="title" value="<%=skill.title%>" required>
        </div>
        <!-- Post type -->
        <div class="form-group">
          <label for="post_type_id">Post Type: </label>
          <select id="post_type_id" name="post_type_id" required>
              <% skillType.forEach(type => { %>
                  <option value="<%= type.type_id %>" <%= skill.type_id === type.type_id ? 'selected' : ''%>> <%=type.type_name%> </option>
              <% }) %>
          </select>
        </div>
        <!-- description -->
        <div class="form-group">
          <label for="description">Description:</label><br>
          <textarea id="description" name="description" rows="5" required><%= skill.description %></textarea>
      </div>
      
        <!-- price -->
        <div class="form-group">
          <label for="price">Price: </label>
          <input type="number" id="price" name="price" value="<%= skill.price%>" required></input>
        </div>
        <!-- submit button -->
        <button type="submit" class="btn btn-primary">Save Changes</button>
      </form>
    </div>
  </main>

  <footer>
    <p>&copy; 2024 Community Service App. All Rights Reserved.</p>
  </footer>
</body>
</html>